body{
    font-family: Arial, Helvetica, sans-serif;
 background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
    margin: 0;
    padding:0;
    }
    img {
      opacity: 0.5;
    }
    .wrapper  
    {
    }
    .header{
      /* text-align: center; */
      text-align: center;
    }
    form{
    /*   border:4px solid red; */
     margin:0 auto;
     width:60%;
     background-color:#282846;
    }
    input:not([type="radio"]):not([type="checkbox"]){
      width:80%;
      height: 2rem;
      display:block;
      border-radius: 10px;
    }
    label{
      display:block;
      margin: 2rem;
    }
    button{
     width: 60%;
     height:2rem;
     color:white;
     background-color:#37AF65;

    }
    textarea{
      height: 6rem;
      width:90%;
      display:block;
    }