html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}

nav {
    border-top: 2px  solid  #A51F10;
    border-bottom: 2px  solid  #A51F10;

}
nav ul{
    list-style-type:none ;
    margin: 0 ;
    padding: 0;
    text-align: center;
    border-top: 0px  solid  #A51F10;
    border-bottom: 0px  solid  #A51F10;


}
nav li {
    list-style-type: none;
    border: 0px solid green;
    display: inline-block;
    text-align: center;
    padding: 0px;
    width: 10rem;
    margin-top: 0 ;   
    margin-bottom: 0.7rem ;
    margin-left: auto;
    margin-right: auto;
}
nav li a:link {
    display: block;
    text-decoration:none;
    font-weight:bold ;
}
nav li a:hover {
    display: block;
    text-decoration:none;
    color: white;
    background-color: #A51F10;
}
.imground{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    float: left;
    margin: 1rem;
}
article{
  margin: 2rem ;
}
article:after {
    content: "";
    display: table;
    clear: both;
  }
section{
    border-bottom:1px solid #BB044D;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top  : 1px  solid   #a61f11;
    margin-top: 3px ;
    
}
footer ul{
    border-top  : 0px  double   #A51F10;

    
}
footer li { 
    display: inline-block;
}
header{
    /* align-content: cent`er; */
    text-align:center;
    margin: 0px auto;
    display: flex;
    flex-flow: nowrap;
     border:0px solid red;
}

.leftheader{
    /* align-content: center; */
    flex-basis: 40%;
    text-align: right;
    border:0px solid springgreen;
}
.rightheader{
    flex-basis: 60%;
    text-align: left;
    border:0px solid #A51F10;

}
header h1{
margin-top: 2rem;
color: #BB044D;
font-size:xx-large;
font-weight: bold;
border:0px solid springgreen;
margin-bottom: 0;

}
header p {
    font-weight: bold;
    margin:0px;
    border:0px solid springgreen;

}
header:after {
    content: "";
    display: table;
    clear: both;
  } 
  .wrapper{
     width: 80%; 
     margin: 0 auto;
  }